<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>acc</title>
    <link rel="stylesheet" th:href="@{/CSS/acc.css}">
  </head>
  <body>
    <div id="wrap">
      <canvas id="canvas"></canvas>
    </div>

    <!-- <h3 id="x">未取得</h3>
    <h3 id="y">未取得</h3>
    <h3 id="z">未取得</h3>
    <h3 id="move">test</h3>

    <input id="rad" type="text" oninput="radchange()" value="50"> -->

    <script type="text/javascript" th:src="@{/JS/acc.js}"></script>
  </body>
</html>
