<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>game center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
  </head>
  <body>
    <header class="navbar navbar-light bg-light">
      <p class="navbar-brand">ゲーム</p>
    </header>

    <br><br><br>
    <div class="media">
      <img class="d-flex mr-3" src="photo/accdispray.jpg" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">玉転がしゲーム</h5>
        玉転がしゲームの説明
        <form class="" action="index.html" method="post">

        </form>
      </div>
    </div>
    <br><br><br>
    <div class="media">
      <img class="d-flex mr-3" src="photo/pugdispray.jpg" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">パグたたきゲーム</h5>
        パグたたきゲームの説明
      </div>
    </div>

  </body>
</html>
