<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeLeaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>game center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
  </head>
  <body>
    <header class="navbar navbar-light bg-light">
      <a href="/"><p class="navbar-brand">ぺがさすゲーム</p></a>
      <a href="https://artificial-incompetence.herokuapp.com/" style="float: right; font-size: 0.6em"><p class="navbar-brand">ぱぐとお話しするやつ<p></a>
    </header>

    <div class="container">
      <div class="mt-5" th:each="game : ${games}">
        <a th:href="'/' + ${game.gameCode} + '/play'">
          <div class="media">
            <img class="d-flex mr-3" th:src="'/photo/' + ${game.gamePhoto}" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0" th:text="${game.gameName}"></h5>
              <p th:text="${game.gameDesc}"></p>
              <form class="form-group" th:action="'/ranking/' + ${game.gameCode}" method="get">
                <button type="submit" class="btn btn-info">ranking</button>
              </form>
            </div>
          </div>
        </a>
      </div>
    </div>
<!-- 
      <div class="media">
        <input type="image" class="d-flex mr-3" src="photo/accdispray.jpg" width="64" height="64" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">玉転がしゲーム</h5>
          玉転がしゲームの説明
          <br>
          <div style="display:inline-flex">
            <form id="acc" class="form-group" action="#" method="get">
              <button type="submit" class="btn btn-success" name="button">start</button>
            </form>
            <form id="acc" class="form-group" action="#" method="get">
              <button type="submit" class="btn btn-info" name="button">ranking</button>
            </form>
          </div>
        </div>
      </div>
    <br><br><br>
    <div class="media">
      <img class="d-flex mr-3" src="photo/pugdispray.jpg" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">パグたたきゲーム</h5>
        パグたたきゲームの説明
        <br>
        <div style="display:inline-flex">
          <form id="acc" class="form-group" action="#" method="get">
            <button type="submit" class="btn btn-success" name="button">start</button>
          </form>
          <form id="acc" class="form-group" action="#" method="get">
            <button type="submit" class="btn btn-info" name="button">ranking</button>
          </form>
        </div>
      </div>
    </div>
 -->

  </body>
</html>
